folder_id          = "<your-folder-id>"
sa_key_file        = "../sa-key.json"
registry_id        = "<your-container-registry-id>"
lockbox_secret_id  = "<your-lockbox-secret-id>"
lockbox_version_id = "<your-lockbox-version-id>"
image_tag          = "latest"
