folder_id          = "b1g7scs6lgrf9ijk4dff"
sa_key_file        = "../sa-key.json"
registry_id        = "crpdhn2sdv42n950jo8l"
lockbox_secret_id  = "e6qknf8t938ldnctsl3j"
lockbox_version_id = "e6q6712n9i2c1p2vts7e"
image_tag          = "latest"
